.App {
  text-align: center;
}

.App-header {
}

.App-Body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Post-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 99vw;
}

.Post {
  width: 50%;
}

.List-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 99vw;
}

.List {
  width: 50%;
  color: white;
}

.rowC {
  display: flex;
  flex-direction: row;
  align-self: "stretch";
  text-align: "center";
}

.scroll {
  height: 500px; /* TODO: adjust height to expand to bottom of window */
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}

.ArticleSearch {
  width: 50%;
}

.TagList {
  height: 500px;
  width: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  float: left;
  outline: 3px solid black;
}

.ArticleSidebar {
  width: 45%;
  margin-left: auto;
  margin-right: 5px;

  outline: 3px solid black;
}

.Article {
  color: white;
  border: 3px solid #1a202c;
}

.DragHandle {
  cursor: move;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.TopBar {
  height: 50px;
  background-color: rgb(63, 36, 136);
  width: 100%;
  cursor: pointer;
}

.PresentArticleList {
  min-width: 96%;
  height: 75vh;
  border: 3px solid #1a202c;

  /* justify-content: center; */
  align-items: center;

  display: flex;
  /* overflow-x: auto; */
  /* overflow-y: hidden; */
  text-align: center;
  /* padding: 20px; */
}

.DivButton {
  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
