.App {
  text-align: center;
}

.App-header {
}

.App-Body {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Post-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 99vw;
}

.Post {
  width: 50%;
}

.List-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 99vw;
}

.List {
  width: 50%;
  /* color: white; */
}

.rowC {
  display: flex;
  flex-direction: row;
}

.scroll {
  /* height: 500px; /* TODO: adjust height to expand to bottom of window */
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  /* padding: 20px; */
}

.ArticleSearch {
  width: 50%;
}

.TagList {
  height: 500px;
  width: 200px;
  text-align: left;
  float: left;
  outline: 3px solid black;

  /* color: white; */
}

.ArticleSidebar {
  align-content: flex-start;
  text-align: left;

  height: 750px;

  width: 45%;
  margin-left: auto;
  margin-right: 5px;

  outline: 3px solid black;
}

.Article {
  /* color: white; */
  border: 3px solid #1a202c;
  align-self: center;
}

.noHL {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.DragHandle {
  cursor: move;

  background: rgb(196, 137, 255);

  width: 25px;
  min-width: 25px;
  height: 25px;
  min-height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.TopBar {
  height: 50px;
  background-color: rgb(63, 36, 136);
  width: 100%;
  cursor: pointer;
}

.PresentArticleList {
  min-width: 96%;
  height: 75vh;
  border: 3px solid #1a202c;

  align-items: center;

  text-align: center;
}

.DivButton {
  cursor: pointer;
}

.ArticleSearchRes {
  height: 500px;
  width: 100%;
  outline: 3px solid black;
}

.PresentArticle {
  width: 80%;
}
