.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.Post-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 99vw
}

.Post {
  width: 50%;
}

.List-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 99vw;
}

.List {
  width: 50%;
  color: white;
}
